.lang-filter-condition,.lang-filter-col{
    margin-bottom: 20px;
    .arrow {
        position: relative;
        display: block;
        width: 130px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        color: #A8C0CF;
        background-color: #262B49;
        border-radius: 6px;
        padding-right: 32px;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 4px);
            right: 14px;
            width: 14px;
            height: 8px;
            background-image: url('/images/arrow_icon02.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        &.arrow-up {}
        &.arrow-down {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
}

.lang-filter-condition {
    display:inline-block;
    .arrow {
        &::after {
            content: '篩選條件';
        }
    }
}

.lang-filter-col {
    .arrow {
        &::after {
            content: '顯示欄位';
        }
    }
}

.page-bar {
    height: 36px;
}

.input-group.search_taiwan {
    position: relative;
    margin-bottom: 20px;
    margin-left: 15px;
    display:inline-block;
}

.lang-table {
    width: 100%;
    .view_field_block{
        position: absolute;
        z-index:99;
        top: 9px;
        left: 5px;
        .view_field_title{
            float: left;
            height: 30px;
            width:30px;
            cursor: pointer;
            background: #262C48;
            border:1px solid #323E60;
            border-radius:3px;
            text-align:center;
            line-height:30px;
            &:hover,&.active{
                background: #171B31;
            }
            i{
                &::before,
                &::after {
                    font-family:unset;
                }
            }
        }
        .view_field{
            width: 210px;
            border: 1px solid rgb(80, 95, 139);
            border-radius: 3px;
            padding: 10px;
            background: rgb(52, 62, 97);
            margin-top: 33px;
            label{
                display: inline-block;
                margin: 3px;
                cursor: pointer;
                .input_radio{
                    + span{
                        display: block;
                        padding:0 15px;
                        height: 30px;
                        cursor: pointer;
                        background: #343E61;
                        border:1px solid #505F8B;
                        border-radius:15px;
                        text-align:center;
                        line-height:30px;
                        transition: 0.2s;
                    }
                }
                .input_radio:checked{
                    + span{
                        background: #505F8B;
                    }
                }
                input{
                    visibility: hidden;
                    display:none;
                }
            }
        }
    }
    tr {
        // display: flex;
        th,td {
            // flex: 1;
            vertical-align: top;
            text-align: left;
            font-size: 15px;
            padding: 0 .4% 0 .8%;
            &:first-child{
                min-width:148px;
                padding-left:42px;
            }
            &.t_platform_style,&.t_class_style,&.t_subclass_style{
                min-width:80px;
            }
            &.t_number_style{
                min-width:80px;
            }
        }
    }
    th {
        line-height: 45px;
        background: #262C48;
        color: #8EAEEA;
    }
    tbody {
        tr {
            background: #262F4C;
            border-bottom: 1px solid #323744;
            transition: background .3s ease;
            &:nth-child(even) {
                background: #262C48;
            }
            &:last-child {
                border-bottom: 0;
            }
            &:hover {
                background: #2D3361;
            }
        }
        td {
            line-height: 25px;
            font-size: 15px;
            color: #FFF;
            padding-top: 10px;
            padding-bottom: 10px;
            &.tip-block {
                cursor:pointer;
                user-select:none;
                transition: color .3s ease;
                span.tip-block-show {
                    position:relative;
                    &::before{
                        content: "已複製";
                        position: absolute;
                        left: 70%;
                        top: -50px;
                        z-index: 99;
                        width: 87px;
                        height: 54px;
                        line-height: 44px;
                        text-align: center;
                        color: #3A497C;
                        background: url('/images/tips_copy_bg.png') center no-repeat;
                    }
                    &.none {
                        &::before{
                            display:none;
                        }
                    }
                }
                &:hover {
                    color: #FF8ED3;
                }
            }
            &:nth-child(1) {
                color: #8385A9;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                color: #A4ABBE;
            }
        }
    }
}