.language{
	width:1460px;
	position:relative;
	margin:auto;
	background:url(/images/container_bg01.png) no-repeat left top;
	color:#fff;
	//列表頁樣式
	.content_block{
		//搜尋功能樣式
		.search_block{
			color:#8386A8;
			position:relative;
			.btn_clear{
				position:absolute;
				right:15px;
				top:15px;
			}
			.search_condition{
				position:relative;
				p{
					padding:16px 0 16px 52px;
					cursor:pointer;
				}
				i{
			    	position: absolute;
				    color: #ED4783;
				    top: 16px;
				    left: 31px;
			    }
			    .flow_block{
			    	overflow:hidden;
			    }
				.islabel_style{
			    	color:#fff;
			    	padding-left:30px;
			    	.search_title{
			    		width:48px;
			    		vertical-align: top;
			    		line-height:32px;
						margin-top: 5px;
			    		margin-right:15px;
						display:inline-block;
				    }
				    .search_item{
				    	font-size: 0;
				    	display:inline-block;
				    	width: 1363px;
						vertical-align: top;
				    	label{
							display: inline-block;
						    margin: 5px;
						    cursor: pointer;
							.input_radio{
								+ span{
									display: block;
									padding:0 15px;
									height: 30px;
									cursor: pointer;
									background: #171b31;
									border:1px solid #333f61;
									border-radius:15px;
									text-align:center;
									line-height:30px;
									transition: 0.2s;
								}
							}
							.input_radio:checked,.input_radio:hover{
								+ span{
									background: #333f61;
								}
							}
							input{
								visibility: hidden;
								display:none;
							}
						}
				    }
			    }
			}
			.search_content{
				color:#8386A8;
				width: 100%;
			    height: 54px;
			    border-bottom: 1px solid #212946;
			    i{
			    	position: absolute;
				    color: #ED4783;
				    top: 19px;
				    left: 31px;
			    }
				input{
					color:#fff;
					&.notFound{
						color:#ED4783;
					}
					padding-left:52px;
					width: 1408px;
			    	height: 54px;
					border:0;
					background: unset;
					outline: unset;
					&::-webkit-input-placeholder{
						color:#8386A8;
					}
				}
			}
		}
		//title樣式
		.title_style{
			position:relative;
			padding:25px 30px;
			color:#fff;
			.btn_create{
				z-index: 99;
				border:0;
				color:#fff;
				outline:unset;
				position: absolute;
				cursor:pointer;
				bottom: 10px;
				right:48px;
				width:55px;
				height:55px;
				border-radius:50%;
				box-shadow: 0px 3px 20px rgba(251, 94, 118, 0.6);
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe6d71+0,e34781+100 */
				background: rgb(254,109,113); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(254,109,113,1) 0%, rgba(227,71,129,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6d71', endColorstr='#e34781',GradientType=0 ); /* IE6-9 */
				&:hover{
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe6d71+0,d1374f+100 */
					background: rgb(254,109,113); /* Old browsers */
					background: -moz-linear-gradient(top, rgba(254,109,113,1) 0%, rgba(209,55,79,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, rgba(254,109,113,1) 0%,rgba(209,55,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, rgba(254,109,113,1) 0%,rgba(209,55,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6d71', endColorstr='#d1374f',GradientType=0 ); /* IE6-9 */
				}
				i{
					font-size: 23px;
				}
			}
		}

		//欄位樣式
		.table_block{
			position:relative;
			// 欄位顯示的區塊
			.view_field_block{
				position: absolute;
				z-index:99;
			    top: 9px;
			    left: 34px;
				.view_field_title{
					float: left;
					height: 30px;
					width:30px;
					cursor: pointer;
					background: #262C48;
					border:1px solid #323E60;
					border-radius:3px;
					text-align:center;
					line-height:30px;
					&:hover,&.active{
						background: #171B31;
					}
				}
				.view_field{
					width: 210px;
				    border: 1px solid rgb(80, 95, 139);
				    border-radius: 3px;
				    padding: 10px;
				    background: rgb(52, 62, 97);
				    margin-top: 33px;
				    label{
						display: inline-block;
					    margin: 3px;
					    cursor: pointer;
						.input_radio{
							+ span{
								display: block;
								padding:0 15px;
								height: 30px;
								cursor: pointer;
								background: #343E61;
								border:1px solid #505F8B;
								border-radius:15px;
								text-align:center;
								line-height:30px;
								transition: 0.2s;
							}
						}
						.input_radio:checked{
							+ span{
								background: #505F8B;
							}
						}
						input{
							visibility: hidden;
							display:none;
						}
					}
				}
			}
			.table_overflow{
				overflow-x:auto;
				&.nothing_to_show{
					overflow:hidden;
				}
				span{
					font-size: 100%;
				}
				margin:0 30px;
				table{
					width:100%;
					thead{
						color:#fff;
						tr{
							background:#262C48;
							th{
								position:relative;
								padding:17px 24px;
								min-width:80px;
								// white-space: nowrap;
								&:first-child{
									min-width:60px;
									width:60px;
								}
								&:last-child{
									width:148px !important;
									min-width:148px !important;
									padding-left:66px;
								}
							}
						}
					}
					tbody{
						color:#B3BFCB;
						tr{
							td{
								padding:17px 24px;
								min-width:80px;
								&:first-child{
									min-width:60px;
									width:60px;
								}
								&:last-child{
									width:148px !important;
									min-width:148px !important;
								}
							}
							.qa_content{
								padding-right: 105px;
								position:relative;
							}
							&:hover{
								background:#1E253E;
								color:#fff;
								i,.hover_change_color{
									color:#ED4783;
								}
							}
							&:nth-child(2n-1){
								background:#262F4C;
							}
							&:nth-child(2n){
								background:#262C48;
							}
							.fa-edit{
								margin-left:10px;
								cursor:pointer;
							}
							.fa-trash{
								margin-left:10px;
								cursor:pointer;
							}
						}
					}
				}
			}
		}
	}
	//修改頁樣式
	.page_modify{
		.content_block{
			margin: 36px 30px 20px 30px;
			h3{
				margin-bottom: 16px;
			    color: #919BAC;
			}
			.isclass,.isproduct,.isplatform,.issubclass,.isnumber,.islanguage{
				font-size: 0;
				background: #262F4C;
				border-bottom: 1px solid #171B31;
				.isclass_title,.isproduct_title,.isplatform_title,.issubclass_title,.isnumber_title,.islanguage_title{
					padding-left: 15px;
					width: 95px;
				    display: inline-block;
				    line-height: 42px;
				    vertical-align: top;
				    font-size: 14px;
				}
				.islabel_style{
					position:relative;
					display: inline-block;
				    vertical-align: top;
				    padding-right:125px;
				    width: 1165px;
			    	color:#fff;
			    	.btn_edit{
			    		position:absolute;
			    		top:6px;
			    		right:0;
			    	}
			    	> span{
			    		margin-right:15px;
			    	}
					label{
						display:inline-block;
						margin: 5px;
						cursor:pointer;
						.input_radio{
							+ span{
								display: block;
								padding:0 15px;
								height: 30px;
								cursor: pointer;
								background: #262F4C;
								border:1px solid #505F8B;
								border-radius:15px;
								text-align:center;
								line-height:30px;
								transition: 0.2s;
							}
						}
						.input_radio:checked,.input_radio:hover{
							+ span{
								background: #505F8B;
							}
						}
						input{
							visibility: hidden;
							display:none;
						}
					}
					input[type=text]{
						margin-top:6px;
						outline: unset;
					    background: #1E253E;
					    color: #919BAC;
					    height: 28px;
					    border: 1px solid #171B31;
					    font-size: 16px;
					    padding-left: 9px;
					}
				}
			}
			.islanguage{
				.islabel_style{
					padding-right:unset;
					width:1290px;
					input{
						width:1273px;
					}
				}
			}
			.iscontent{
				font-size:0;
				background:#262C48;
				.iscontent_title{
					padding-left: 15px;
					width: 95px;
				    display: inline-block;
				    line-height: 45px;
				    vertical-align: top;
				    font-size: 14px;
				}
				.istextarea_style{
					position:relative;
					display: inline-block;
				    width: 1275px;
				    padding: 15px 15px 15px 0;
					textarea{
						border-color: #171B31;
					    outline: unset;
					    background: #1E253E;
					    color: #919BAC;
					    width: 1271px;
					    height: 182px;
					}
				}
			}
		}
	}
	//新增頁樣式
	.page_create{
		//欄位樣式
		.table_block{
			position:relative;
			margin-bottom:20px;
			.table_overflow{
				overflow-x:auto;
				&.nothing_to_show{
					overflow:hidden;
				}
				span{
					font-size: 100%;
				}
				margin:0 30px;
				table{
					width:100%;
					thead{
						color:#fff;
						tr{
							background:#262C48;
							th{
								position:relative;
								padding:17px 24px;
								min-width:80px;
								// white-space: nowrap;
								&:first-child{
									min-width:60px;
									width:60px;
								}
							}
						}
					}
					tbody{
						color:#B3BFCB;
						tr{
							td{
								padding:17px 24px;
								min-width:80px;
								&:first-child{
									min-width:60px;
									width:60px;
								}
								.islabel_style{
									position:relative;
									display: inline-block;
								    // vertical-align: top;
								    // padding-right:125px;
								    // width: 1165px;
							    	color:#fff;
							    	.btn_edit{
							    		position:absolute;
							    		top:6px;
							    		right:0;
							    	}
							    	> span{
							    		margin-right:15px;
							    	}
									label{
										display:inline-block;
										margin: 5px;
										cursor:pointer;
										.input_radio{
											+ span{
												display: block;
												padding:0 15px;
												height: 30px;
												cursor: pointer;
												background: #262F4C;
												border:1px solid #505F8B;
												border-radius:15px;
												text-align:center;
												line-height:30px;
												transition: 0.2s;
											}
										}
										.input_radio:checked,.input_radio:hover{
											+ span{
												background: #505F8B;
											}
										}
										input{
											visibility: hidden;
											display:none;
										}
									}
									input[type=text]{
										margin-top:4px;
										outline: unset;
									    background: #1E253E;
									    color: #919BAC;
									    height: 28px;
									    border: 1px solid #171B31;
									    font-size: 16px;
									    padding-left: 9px;
									}
									&:before{
									    	content:'';
									    	width:10px;
									    	height:10px;
									    	background:#fff;
									    }
								}
								select{
									border: 1px solid #505F8B;
								    outline: 0;
								    background: #262C48;
								    border-radius: 3px;
								    width: 101px;
								    height: 32px;
								    margin-top: 4px;
								    color: #ADB3BA;
								    padding-left:5px;
								    option{
								    	background: unset;
								    	text-align:center;
								    	&:hover{
								    		background: unset;
								    		color:#fff;
								    	}
								    }
								}
							}
							.qa_content{
								padding-right: 105px;
								position:relative;
							}
							&:hover{
								background:#1E253E;
								color:#fff;
								i,.hover_change_color{
									color:#ED4783;
								}
							}
							&:nth-child(2n-1){
								background:#262F4C;
							}
							&:nth-child(2n){
								background:#262C48;
							}
							.fa-edit{
								margin-left:10px;
								cursor:pointer;
							}
							.fa-trash{
								margin-left:10px;
								cursor:pointer;
							}
						}
					}
				}
			}
		}
	}
}