.message{
	width:1460px;
	position:relative;
	margin:auto;
	background:url(/images/container_bg01.png) no-repeat left top;
	color:#fff;
	//列表頁樣式
	.content_block{
		//搜尋功能樣式
		.search_block{
			color:#8386A8;
			position:relative;
			.btn_clear{
				position:absolute;
				right:15px;
				top:15px;
			}
			.search_condition{
				position:relative;
				p{
					padding:16px 0 16px 52px;
					cursor:pointer;
				}
				i{
			    	position: absolute;
				    color: #ED4783;
				    top: 16px;
				    left: 31px;
			    }
			    .flow_block{
			    	overflow:hidden;
			    }
				.islabel_style{
			    	color:#fff;
			    	padding-left:30px;
			    	.search_title{
			    		width:48px;
			    		vertical-align: top;
						margin-top: 8px;
			    		margin-right:15px;
						display:inline-block;
				    }
				    .search_item{
				    	display:inline-block;
				    	width: 1363px;
						vertical-align: top;
				    	label{
							display: inline-block;
						    margin-right: 10px;
						    cursor: pointer;
						    margin-bottom: 6px;
							.input_radio{
								+ span{
									display: block;
									padding:0 15px;
									height: 30px;
									cursor: pointer;
									background: #171b31;
									border:1px solid #333f61;
									border-radius:15px;
									text-align:center;
									line-height:30px;
								}
							}
							.input_radio:checked,.input_radio:hover{
								+ span{
									background: #333f61;
								}
							}
							input{
								visibility: hidden;
								display:none;
							}
						}
				    }
			    }
			}
			.search_content{
				color:#8386A8;
				width: 100%;
			    height: 54px;
			    border-bottom: 1px solid #212946;
			    i{
			    	position: absolute;
				    color: #ED4783;
				    top: 19px;
				    left: 31px;
			    }
				input{
					color:#fff;
					&.notFound{
						color:#ED4783;
					}
					padding-left:52px;
					width: 1408px;
			    	height: 54px;
					border:0;
					background: unset;
					outline: unset;
					&::-webkit-input-placeholder{
						color:#8386A8;
					}
				}
				select{
					cursor:pointer;
					position: absolute;
				    top: 14px;
				    right: 30px;
					border: 1px solid #505F8B;
				    outline: 0;
				    background: #262C48;
				    border-radius: 3px;
				    width: 101px;
				    height: 28px;
				    color: #ADB3BA;
				    padding-left:22px;
				    option{
				    	background: unset;
				    	text-align:center;
				    	&:hover{
				    		color:#fff;
				    	}
				    }
				}
			}
		}
		//title樣式
		.title_style{
			position:relative;
			padding: 25px 30px;
		    color: #fff;
		    // border-bottom: 1px solid #212946;
		}
		//欄位樣式
		.table_block{
			overflow-x:auto;
			margin:0 30px;
			span{
				font-size: 100%;
			}
			table{
				width:100%;
				thead{
					color:#fff;
					tr{
						background:#262C48;
						th{
							padding:17px 24px;
							min-width:80px;
							white-space: nowrap;
							&:first-child{
								min-width:148px;
							}
							&:last-child{
								min-width:68px;
								width:68px;
							}
							&:nth-child(3){
								min-width:148px;
							}
						}
					}
				}
				tbody{
					color:#B3BFCB;
					tr{
						td{
							padding:17px 24px;
							min-width:80px;
							&:first-child{
								min-width:148px;
							}
							&:last-child{
								min-width:68px;
								width:68px;
							}
							&:nth-child(3){
								min-width:148px;
							}
							span{
								text-align:center;
							}
							.btn_status{
								padding: 0 10px;
							    background: #505F8B;
							    height: 30px;
							    border-radius: 15px;
							    line-height: 30px;
							    cursor: pointer;
							    color: #fff;
							    transition: 0.2s;
							    &:hover{
							    	background:#414F75;
							    }
							}
						}
						.qa_content{
							padding-left: 15px;
							padding-right: 105px;
							position:relative;
						}
						&:hover{
							background:#1E253E;
							color:#fff;
							i,.hover_change_color{
								color:#ED4783;
							}
						}
						&:nth-child(2n-1){
							background:#262F4C;
						}
						&:nth-child(2n){
							background:#262C48;
						}
						.fa-edit{
							margin-left:10px;
							cursor:pointer;
						}
						.fa-trash{
							margin-left:10px;
							cursor:pointer;
						}
					}
				}
			}
		}
	}
}