.transaction{
	width:1460px;
	position:relative;
	margin:auto;
	background:url(/images/container_bg01.png) no-repeat left top;
	color:#fff;
	//列表頁樣式
	.content_block{
		//title樣式
		.title_style{
			position:relative;
			padding: 59px 30px 15px 30px;
		    color: #fff;
		    border-bottom: 1px solid #212946;
		    margin-bottom: 30px;
		}
		//欄位樣式
		.table_block{
			overflow-x:auto;
			margin:0 30px;
			table{
				width:100%;
				thead{
					color:#fff;
					tr{
						background:#262C48;
						th{
							padding:17px 24px;
							min-width:80px;
							white-space: nowrap;
							&:last-child{
								min-width:148px;
							}
						}
					}
				}
				tbody{
					color:#B3BFCB;
					tr{
						td{
							padding:17px 24px;
							min-width:80px;
							&:last-child{
								min-width:148px;
							}
							span{
								display: block;
								text-align:center;
							}
							.btn_status{
								padding: 0 10px;
							    background: #505F8B;
							    height: 30px;
							    border-radius: 15px;
							    line-height: 30px;
							    cursor: pointer;
							    color: #fff;
							    &:hover{
							    	background:#414F75;
							    }
							}
						}
						&:hover{
							background:#1E253E;
							color:#fff;
							i,.hover_change_color{
								color:#ED4783;
							}
						}
						&:nth-child(2n-1){
							background:#262F4C;
						}
						&:nth-child(2n){
							background:#262C48;
						}
					}
				}
			}
		}
	}
}