// 字體大小
$font_h1:25px;
$font_h2:20px;
$font_h3:16px;
$font_p:14px;
$font_span:13px;
$head_height:50px;

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

@mixin borderRadius($num){
	@if $num == top { border-radius:5px 5px 0 0;}
  @else if $num == bottom { border-radius:0 0 5px 5px;}
  @else if $num == small { border-radius:3px;}
  @else { border-radius:5px;}
}
@mixin shadow($type){
	@if $type == y { box-shadow: 0px 3px 3px rgba(15,15,15,0.6);}
	@else if $type == inset { box-shadow: 0px 0px 5px rgba(15,15,15,1) inset;}
	@else if $type == inset_light { box-shadow: 0px 0px 10px 2px rgba(15,15,15,0.3) inset;}
	@else { box-shadow: 0px 0px 10px rgba(15,15,15,0.6);}
}
@mixin text_reset{
	margin:0;
	padding:0;
}
@mixin text_align($type){
	@if $type == center {text-align:center;}
	@else if $type == left {text-align:left;}
	@else if $type == right {text-align:right;}
}
@mixin padding_setting($type,$num){
	@if $type == t_b {padding-top:$num * 10px;padding-bottom:$num * 10px;}
	@else if $type == l_r {padding-left:$num * 10px;padding-right:$num * 10px;}
	@else if $type == all {padding:$num * 10px !important;}
	@else if $type == l {padding-left:$num * 10px;}
	@else if $type == r {padding-right:$num * 10px;}
	@else if $type == t {padding-top:$num * 10px;}
	@else if $type == b {padding-bottom:$num * 10px;}
}
@mixin margin_setting($type,$num){
	@if $type == t_b {margin-top:$num * 10px;margin-bottom:$num * 10px;}
	@else if $type == l_r {margin-left:$num * 10px;margin-right:$num * 10px;}
	@else if $type == all {margin:$num * 10px !important;}
	@else if $type == l {margin-left:$num * 10px;}
	@else if $type == r {margin-right:$num * 10px;}
	@else if $type == t {margin-top:$num * 10px;}
	@else if $type == b {margin-bottom:$num * 10px;}
}
@mixin fixed_center{
	position:fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin:auto;
	z-index:9999;
}

///////////////// css reset /////////////////
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a{
	text-decoration: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
///////////////// end css reset /////////////////

html , body{
	height:100%;
}

html.over_hidden{
	overflow: hidden;
}

body{
	position:relative;
	min-width:1600px;
	// width:100%;
	font-family: 'Noto Sans TC','Josefin Sans', sans-serif;
	h1{	 font-size:$font_h1;}
	h2{	 font-size:$font_h2;}
	h3{	 font-size:$font_h3;}
	p{   font-size:$font_p;}
	span{font-size:$font_span;}

	//////////////// Login頁面的設定 //////////////////
	&.login_body{
		background-image:url(/images/login_bg.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-color:#293251;
		.container{
			width:602px;
			height:412px;
			position:absolute;
			margin:auto;
			top:0;
			right:0;
			bottom:0;
			left:0;
			.logo_block{
				width:375px;
				height:101px;
				margin:auto;
				margin-bottom:50px;
				background: url(/images/logo.png) no-repeat left top;
			}
			.login_block{
				position:relative;
				background-color: #171B31;
				max-width:602px;
				height:261px;
				margin:auto;
				@include shadow(false);
				.account_title,.password_title{
					color:#8386A8;
				}
				.account_block{
					margin-left:50px;
					padding-top: 40px;
					.account_title{
						color:#8386A8;
						margin-bottom: 10px;
						font-size:15px;
					}
					input{
						font-size:13px;
						padding-bottom:10px;
						width:408px;
						color:#fff;
						border:0;
						border-bottom: 1px solid #fff;
						background: unset;
						outline: unset;
						&::-webkit-input-placeholder{
							color:#fff;
						}
						&.error{
							border-bottom: 1px solid #ED4783;
							&::-webkit-input-placeholder{
								color:#ED4783;
							}
						}
					}
				}
				.password_block{
					margin-left:50px;
					padding-top:30px;
					.password_title{
						color:#8386A8;
						margin-bottom: 10px;
						font-size:15px;
					}
					input{
						font-size:13px;
						padding-bottom:10px;
						width:408px;
						color:#fff;
						border:0;
						border-bottom: 1px solid #fff;
						background: unset;
						outline: unset;
						&::-webkit-input-placeholder{
							color:#fff;
						}
						&.error{
							border-bottom: 1px solid #ED4783;
							&::-webkit-input-placeholder{
								color:#ED4783;
							}
						}
					}
				}
				.keep_login_block{
					position:absolute;
					top: 180px;
					margin-left: 50px;
				    margin-top: 10px;
				    font-size: 12px;
					color:#8386A8;
					#keep_login{
						+ label{
							border-radius:3px;
							font: normal normal normal 14px/1 FontAwesome;
						    font-size: inherit;
						    text-rendering: auto;
						    -webkit-font-smoothing: antialiased;
							display: block;
							width: 15px;
							height: 15px;
							cursor: pointer;
							position: absolute;
							top: -1px;
							background: #8386A8;
						}
					}
					#keep_login:checked{
						+ label:before{
							display: block;
							content: "\2714";
							text-align: center;
							font-size: 16px;
							color: white;
						}
					}
					input{
						visibility: hidden;
						width: 15px;
						height: 15px;
						margin:0;
					}
					span{
						vertical-align: top;
					    display: inline-block;
					    margin-left: 3px;
					}
				}
				.btn_login{
					width:97px;
					height:261px;
					position:absolute;
					right:0;
					top:0;
					background-color:#FB5E76;
					color:#fff;
					border:0;
					outline:unset;
					p{
						font-size: 20px;
						margin-top:0;
						margin-bottom: 8px;
					}
					i{
						font-size:30px;
					}
					&:hover{
						background-color:#D1374F;
					}
				}
				.error_tip{
				    color: #ED4783;
				    font-size: 12px;
				    margin-top: 12px;
				    width: 408px;
				    text-align: right;
				    margin-left: 50px;
				}
			}
		}
	}
	//////////////// end Login頁面的設定 //////////////////

	//////////////// 登入後頁面的設定 //////////////////
	&.normal_body{
		background-image:url(/images/header_bg.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-color:#171B31;
	}
	//////////////// end 登入後頁面的設定 //////////////////

	#page-header{
		height:140px;
		.header-wrapper{
			width:1600px;
			margin:auto;
			height:100%;
			position:relative;
			////////////// nav warp //////////////////
			.mainnav_wrap{
				position:absolute;
				top:82px;
				left:100px;
				ul{
					font-size:0px;
					li{
						display:inline-block;
						vertical-align: top;
						font-size:13px;
						text-align:center;
						transition: 0.2s;
						&:hover,&.current{
							a{
								color:#EC4683;
							}
							border-bottom:5px solid #EC4683;
						}
						&:last-child{
							margin-right:0;
						}
						a{
							display:block;
							padding:20px;
							color:#fff;
							transition: 0.2s;
						}
					}
				}
			}
			////////////// end nav warp //////////////////

			////////////// logo warp /////////////////
			.logo_wrap{
				background: url(/images/logo.png) no-repeat left top;
				background-size: 91px 25px;
				width:91px;
				height:25px;
				display:block;
				position:absolute;
				top:24px;
				left:30px;
			}
			////////////// end logo warp /////////////////

			////////////// user warp /////////////////
			.user_wrap{
				position:absolute;
				top:26px;
				right:30px;
				ul{
					li{
						position:relative;
						display:inline-block;
						vertical-align: top;
						color:#fff;
						margin-right:15px;
						&:after{
							content:"|";
							color:#fff;
							position: absolute;
						    top: -2px;
						    right: -12px;
						}
						&:last-child{
							margin-right:0;
							&:after{
								display:none;
							}
						}
						a{
							color:#fff;
							&.btn_logout{
								color:#EC4683;
								&:hover{
									color:#D1374F;
								}
							}
						}
					}
				}
			}
			////////////// end user warp /////////////////
		}
	}
	#page-container{
		.container-wrapper{
			.content_block{
				display:block !important;
			}
			.page_title{
				padding-top: 50px;
			    padding-bottom: 24px;
			    border-bottom: 1px solid #212946;
			    padding-left: 30px;
			}
			.found_nothing{
				padding: 30px;
			    background: #262F4C;
			    margin-top: 1px;
			    color: #ED4783;
			    text-align: center;
			}
			.create_button ,.modify_button{
				text-align:center;
			}

			//////////////// 分頁樣式 ////////////////////
			.page-bar{
				position:relative;
				height:36px;
				background-color:#2D395D;
				padding:18px;
				color:#ADB3BA;
				margin:0 30px;
				ul{
					width: fit-content;
					margin:auto;
				}
				li{
					display:inline-block;
				    list-style: none;
				    width: fit-content;
				    height:36px;
				    vertical-align:top;
				}
				li:first-child>a {
				   margin-left: 0px;
				}
				span{
					float: left;
    				line-height: 36px;
				}
				a{
				    display:block;
				    text-decoration: none;
				    position: relative;
				    float: left;
				    padding: 0 12px;
				    margin-left: -1px;
				    line-height: 36px;
				    cursor: pointer;
				    height:36px;
				    &.disabled{
						pointer-events: none;
						cursor: not-allowed;
						box-shadow: none;
				    }
				}
				a:hover{
				    color: #ED4783;
				}
				.active a{
				    color: #ED4783;
				    cursor: default;
				}
				i{
				    font-style:normal;
				    margin: 0px 4px;
				    font-size: 17px;
				}
				select{
					border: 1px solid #505F8B;
				    outline: 0;
				    background: #262C48;
				    border-radius: 3px;
				    width: 101px;
				    height: 28px;
				    margin-top: 4px;
				    color: #ADB3BA;
				    padding-left:22px;
				    option{
				    	background: unset;
				    	text-align:center;
				    	&:hover{
				    		background: unset;
				    		color:#fff;
				    	}
				    }
				}
			}
			//////////////// end 分頁樣式 ////////////////////
		}
	}
	#page-footer{
		height:50px;
		footer{
			@include text_align(center);
			background-image: linear-gradient(to top,#f8f8f8 0,#f0f0f0 100%);
			&.login_footer{
			  	position:fixed;
			  	bottom:0;
			  	width:100%;
			}
		}
	}

	//////////////// 彈跳視窗 //////////////////
	.overlay{
		display:none;
		position:absolute;
		top: 0;
		left: 0;
		background-color:rgba(0,0,0,.6);
		width:100%;
		height:100%;
		z-index:999;
	}
	.prompt_body_admin{
		display:none;
		.prompt_box_admin{
			background: url(/images/prompt_box_bg01.png) no-repeat left top;
			z-index: 99999;
			position:fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin:auto;
			width:500px;
			height:300px;
			background-color:#fff;
			@include borderRadius(none);
			@include shadow(none);
			@include text_align(center);
			.prompt_content{
				height:220px;
				.prompt_logo{
					width:66px;
					height:66px;
					border-radius:33px;
					margin:auto;
					margin-top: 60px;
					&.question{
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6df4fe+0,4766e3+100 */
						background: rgb(109,244,254); /* Old browsers */
						background: -moz-linear-gradient(top, rgba(109,244,254,1) 0%, rgba(71,102,227,1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(109,244,254,1) 0%,rgba(71,102,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(109,244,254,1) 0%,rgba(71,102,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6df4fe', endColorstr='#4766e3',GradientType=0 ); /* IE6-9 */
						i{
							color: #fff;
						    font-size: 58px;
						    margin-top: 3px;
						}
					}
					&.success{
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6df4fe+0,4766e3+100 */
						background: rgb(109,244,254); /* Old browsers */
						background: -moz-linear-gradient(top, rgba(109,244,254,1) 0%, rgba(71,102,227,1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(109,244,254,1) 0%,rgba(71,102,227,1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(109,244,254,1) 0%,rgba(71,102,227,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6df4fe', endColorstr='#4766e3',GradientType=0 ); /* IE6-9 */
						i{
							color: #fff;
						    font-size: 58px;
						    margin-top: 3px;
						}
					}
					&.failure{
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe6d71+0,e34781+100 */
						background: rgb(254,109,113); /* Old browsers */
						background: -moz-linear-gradient(top, rgba(254,109,113,1) 0%, rgba(227,71,129,1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6d71', endColorstr='#e34781',GradientType=0 ); /* IE6-9 */
						i{
							color: #fff;
						    font-size: 58px;
						    margin-top: 3px;
						}
					}
				}
				h2{
					margin-top:30px;
					color:#fff;
				}
			}
			.prompt_btn_group{
				position: absolute;
			    bottom: 0;
			    height: 80px;
			    margin: auto;
			    color: #fff;
			    left: 0;
			    right: 0;
			    p{
			    	color:#ED4783;
			    }
				.btn_no{
					width:180px;
					height:40px;
					background: #29314F;
					border:1px solid #8386A8;
					border-radius:20px;
					margin-top:5px;
					margin-right:10px;
					cursor:pointer;
					color: #fff;
				    font-size: 20px;
				    font-weight: bold;
				    outline:unset;
				}
				.btn_yes{
					width:180px;
					height:40px;
					background: #8386A8;
					border:1px solid #8386A8;
					border-radius:20px;
					margin-top:5px;
					cursor:pointer;
					color: #fff;
				    font-size: 20px;
				    font-weight: bold;
				    outline:unset;
				}
			}
		}
	}
	.tip_block{
		width:fit-content;
		width:-webkit-fit-content;
		width:-moz-fit-content;
		line-height:30px;
		position:absolute;
		top: -27px;
		p{
			padding:0 15px;
		}
		background: #FD6C71;
    	border-radius: 3px;
		&:after{
			content: '';
		    border-right: 5px solid transparent;
		    border-left: 5px solid transparent;
		    border-top: 5px solid #FD6C71;
		    position: absolute;
		    bottom: -5px;
		    left: 20px;
		}
	}
	.remove_wrapper{
		display:none;
		position: fixed;
	    width: 296px;
	    height: 18px;
	    border-radius: 6px;
	    right: 15px;
	    bottom: 15px;
	    z-index: 99999;
	    padding: 20px;
		&.success{
			background: #57A5EF;
		}
		&.failure{
			background: #ED4783;
		}
		i{
			font-size:20px;
		}
		span{
			font-size: 18px;
    		margin-left: 10px;
		}
	}
	.loading_block{
		height:200px;
		background-image:url(/images/loading.gif);
		background-position:center center;
		background-repeat:no-repeat;
		display:block;
		margin:0 30px;
		background-color:#262F4C;
	}
	//////////////// end彈跳視窗 //////////////////

	//////////////// btn settings //////////////////
	.btn_back{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8386a8+0,424354+100 */
		background: rgb(131,134,168); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(131,134,168,1) 0%, rgba(66,67,84,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(131,134,168,1) 0%,rgba(66,67,84,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(131,134,168,1) 0%,rgba(66,67,84,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8386a8', endColorstr='#424354',GradientType=0 ); /* IE6-9 */
		width:136px;
		height:40px;
		border: 0;
		outline:unset;
		border-radius:20px;
		color:#fff;
		&:hover{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52546d+0,383841+100 */
			background: rgb(82,84,109); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(82,84,109,1) 0%, rgba(56,56,65,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(82,84,109,1) 0%,rgba(56,56,65,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(82,84,109,1) 0%,rgba(56,56,65,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52546d', endColorstr='#383841',GradientType=0 ); /* IE6-9 */
		}
	}
	.btn_save{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe6d71+0,e34781+100 */
		background: rgb(254,109,113); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(254,109,113,1) 0%, rgba(227,71,129,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6d71', endColorstr='#e34781',GradientType=0 ); /* IE6-9 */
		width:136px;
		height:40px;
		border-radius:20px;
		margin-left:20px;
		color:#fff;
		border: 0;
		outline:unset;
		&:hover{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe6d71+0,d1374f+100 */
			background: rgb(254,109,113); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(254,109,113,1) 0%, rgba(209,55,79,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(254,109,113,1) 0%,rgba(209,55,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(254,109,113,1) 0%,rgba(209,55,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6d71', endColorstr='#d1374f',GradientType=0 ); /* IE6-9 */
		}
	}
	.btn_edit{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe6d71+0,e34781+100 */
		background: rgb(254,109,113); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(254,109,113,1) 0%, rgba(227,71,129,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(254,109,113,1) 0%,rgba(227,71,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6d71', endColorstr='#e34781',GradientType=0 ); /* IE6-9 */
		width:111px;
		height:30px;
		border-radius:15px;
		color:#fff;
		border: 0;
		outline:unset;
		float: right;
    	margin-right: 15px;
		&:hover{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe6d71+0,d1374f+100 */
			background: rgb(254,109,113); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(254,109,113,1) 0%, rgba(209,55,79,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(254,109,113,1) 0%,rgba(209,55,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(254,109,113,1) 0%,rgba(209,55,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe6d71', endColorstr='#d1374f',GradientType=0 ); /* IE6-9 */
		}
	}
	//////////////// end btn settings //////////////////

	//////////////// general settings //////////////////
	// padding 相關設定
	.p_l{
		@include padding_setting(l,1.5);
	}
	.p_r{
		@include padding_setting(r,1.5);
	}
	.p_t_b{
		@include padding_setting(t_b,1.5);
	}
	.p_l_r{
		@include padding_setting(l_r,1.5);
	}
	.p_l_dis{
		@include padding_setting(l,0);
	}
	.p_r_dis{
		@include padding_setting(r,0);
	}
	.p_l_r_dis{
		@include padding_setting(l_r,0);
	}
	.p_all_dis{
		@include padding_setting(all,0);
	}

	// margin 相關設定
	.m_b_dis{
		@include margin_setting(b,0);
	}
	.m_l_r_dis{
		@include margin_setting(l_r,0);
	}
	.m_b{
		@include margin_setting(b,1);
	}
	.m_r{
		@include margin_setting(r,1);
	}
	.m_l{
		@include margin_setting(l,1);
	}
	.m_l_r{
		@include margin_setting(l_r,1);
	}

	// 文字位置
	.text_align_c{
		@include text_align(center);
	}
	.text_align_l{
		@include text_align(left);
	}
	.text_align_r{
		@include text_align(right);
	}

	// 其他設定
	.dis_none{
		display:none;
	}
	.block_box{
		height:10px;
	}
	//////////////// end general settings //////////////////

	//////////////// RWD settings //////////////////
	@media only screen and (min-width:768px) {

	}
	@media only screen and (max-width:767px) {

	}
	//////////////// end RWD settings //////////////////
}









